header {
    width: 100%;
    margin: 0;
}

#header-info {
    height: 120px;
    position: relative;
    display: grid;
    place-items:center;
}

#header-info h1 {
    font-size: 50px;
    font-family: "Sedgwick Ave", cursive;
    font-weight: 400;
    font-style: normal;
    
}
#header-info #logo{
    width: 100px;
    position: absolute;
    top: 10px;
    left: 15px;
    display: flex;
    align-items: center;
}

.thanhtieude {
    color: white;
    font-weight: 600 !important;
    font-size: 18px;
    gap: 8px;
    display: flex;
    align-items: center;
}

#header-bar .nav-item {
    transition: all 0.4s;
}

#header-bar .nav-item:hover {
    background-color: #0e4874;
    transform: scale(1.2);
}

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease;
    display: block;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    max-height: 200px;
    /* Set this to the height you expect when expanded */
}

@media (min-width: 1400px) {
    .my-container-header {
        max-width: 1450px !important;
    }
}
.search-bt{
    background-color: #056392 !important;
    border: none;
    padding: 5px 11px;
}
.search-bt:hover{
    background-color: #0e4874 !important;
    border: none;
    border-radius: 10px;
    padding: 5px 11px;
}